.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(
		135deg,
		rgba(131, 58, 180, 0.9345238095238095) 0%,
		rgba(200, 120, 222, 1) 0%,
		rgba(24, 255, 181, 1) 0%,
		rgba(107, 64, 255, 1) 100%
	);
}
