.JokeList {
	display: flex;
	width: 80%;
	height: 80%;
}
.JokeList-sidebar {
	background-color: rgba(107, 64, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30%;
	text-align: center;
	box-shadow: -6px 9px 15px -1px rgba(0, 0, 0, 0.48);
	z-index: 2;
}

.JokeList-title {
	font-size: 4rem;
	margin: 2rem;
	color: white;
	font-weight: 300;
	letter-spacing: 0.6rem;
}

.JokeList-title span {
	font-weight: 700;
	letter-spacing: 0;
}

.JokeList-sidebar img {
	width: 50%;
}

.JokeList-jokes {
	height: 90%;
	background-color: rgba(24, 255, 181);
	align-self: center;
	width: 70%;
	overflow: scroll;
	box-shadow: -2px 3px 14px -2px rgba(0, 0, 0, 0.5);
}
